<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<!-- Header -->
<%- include('./partials/header.ejs') %>
<!-- End of Header -->

<main>
    <%- include('./partials/internal_header.ejs') %>

    <section class="section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h6 class="sub-title">about us</h6>
                    <h2 class="section-title"><span>Trust and quality</span> are our atuus</h2>
                    <article>
                        <p class="strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </article>
                    <a href="#" class="btn btn--default btn--regular">read more<i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="col-lg-6">
                    <div class="row row--wrapped">
                        <div class="col-lg-6">
                            <div class="bg-holder bg-holder--h-70" style="background-image: url('/media/bg1.jpg')"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg-holder bg-holder--h-70" style="background-image: url('/media/bg2.jpg')"></div>
                        </div>
                        <div class="col-lg-12">
                            <div class="bg-holder bg-holder--h-35" style="background-image: url('/media/slider03.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--padding-big section--bg" style="background-image: url('/media/slider02.jpg')">
        <div class="container">
            <h6 class="sub-title">about us</h6>
            <h2 class="section-title section-title--white"><span>We bring you the</span> finest details</h2>
            <div class="owl-carousel owl-carousel--type1">
                <div class="owl-block wow animate__animated animate__flipInX">
                    <div class="owl-block__img">
                        <i class="far fa-building"></i>
                    </div>
                    <h5 class="primary-title">Free Wifi to stay connected</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="owl-block wow animate__animated animate__flipInX">
                    <div class="owl-block__img">
                        <i class="far fa-building"></i>
                    </div>
                    <h5 class="primary-title">Free Wifi to stay connected</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="owl-block wow animate__animated animate__flipInX">
                    <div class="owl-block__img">
                        <i class="far fa-building"></i>
                    </div>
                    <h5 class="primary-title">Free Wifi to stay connected</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="owl-block wow animate__animated animate__flipInX">
                    <div class="owl-block__img">
                        <i class="far fa-building"></i>
                    </div>
                    <h5 class="primary-title">Free Wifi to stay connected</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="owl-block wow animate__animated animate__flipInX">
                    <div class="owl-block__img">
                        <i class="far fa-building"></i>
                    </div>
                    <h5 class="primary-title">Free Wifi to stay connected</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="owl-block wow animate__animated animate__flipInX">
                    <div class="owl-block__img">
                        <i class="far fa-building"></i>
                    </div>
                    <h5 class="primary-title">Free Wifi to stay connected</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--padding-big section--two-carousels">
        <div class="section--two-carousels__1 container">
            <h6 class="sub-title">Testimonials</h6>
            <h2 class="section-title"><span>We trust our customers</span> and they trust us too</h2>
            <div id="forControls02" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel__caption">
                            <div class="testimonials">
                                <div class="testimonials__p">
                                    <div class="testimonials__p__img">
                                        <img src="/images/avatar.jpg" alt="avatar">
                                    </div>
                                    <div class="testimonials__p__dis">
                                        <h5 class="primary-title">John Doe</h5>
                                        <p>IT Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonials__dis">
                                    <article>
                                        <p>I'm very glad I had the opportunity to visit this hotel. The stuff is very friendly and I will definetly visit the hotel again next year.</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel__caption">
                            <div class="testimonials">
                                <div class="testimonials__p">
                                    <div class="testimonials__p__img">
                                        <img src="/images/avatar.jpg" alt="avatar">
                                    </div>
                                    <div class="testimonials__p__dis">
                                        <h5 class="primary-title">John Doe</h5>
                                        <p>IT Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonials__dis">
                                    <article>
                                        <p>I'm very glad I had the opportunity to visit this hotel. The stuff is very friendly and I will definetly visit the hotel again next year.</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel__caption">
                            <div class="testimonials">
                                <div class="testimonials__p">
                                    <div class="testimonials__p__img">
                                        <img src="/images/avatar.jpg" alt="avatar">
                                    </div>
                                    <div class="testimonials__p__dis">
                                        <h5 class="primary-title">John Doe</h5>
                                        <p>IT Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonials__dis">
                                    <article>
                                        <p>I'm very glad I had the opportunity to visit this hotel. The stuff is very friendly and I will definetly visit the hotel again next year.</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel__caption">
                            <div class="testimonials">
                                <div class="testimonials__p">
                                    <div class="testimonials__p__img">
                                        <img src="/images/avatar.jpg" alt="avatar">
                                    </div>
                                    <div class="testimonials__p__dis">
                                        <h5 class="primary-title">John Doe</h5>
                                        <p>IT Engineer</p>
                                    </div>
                                </div>
                                <div class="testimonials__dis">
                                    <article>
                                        <p>I'm very glad I had the opportunity to visit this hotel. The stuff is very friendly and I will definetly visit the hotel again next year.</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#forControls02" data-slide-to="0" class="active"></li>
                    <li data-target="#forControls02" data-slide-to="1"></li>
                    <li data-target="#forControls02" data-slide-to="2"></li>
                    <li data-target="#forControls02" data-slide-to="3"></li>
                </ol>
            </div>
        </div>
        <div id="forControls03" class="section--two-carousels__2 carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('/media/slider01.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/media/slider02.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/media/slider03.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/media/bg2.jpg')"></div>
            </div>
            <div class="carousel-control">
                <a class="carousel-control__prev" href="#forControls02" role="button" data-slide="prev">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a class="carousel-control__next" href="#forControls02" role="button" data-slide="next">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="footer">
    <%- include('./partials/footer_top.ejs') %>

    <%- include('./partials/footer.ejs') %>
</footer>
<!-- End of Footer -->

<%- include('./partials/init_scripts.ejs') %>

</body>
</html>