<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<!-- Header -->
<%- include('./partials/header.ejs') %>
<!-- End of Header -->

<main>
    <%- include('./partials/internal_header.ejs') %>

    <section class="section section--padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <div class="row row--wrapped">
                        <div class="col-lg-6">
                            <div class="bg-holder bg-holder--h-140"
                                 style="background-image: url('/media/bg1.jpg')"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="bg-holder bg-holder--h-70"
                                         style="background-image: url('/media/bg2.jpg')"></div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="bg-holder bg-holder--h-70"
                                         style="background-image: url('/media/slider03.jpg')"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-8">
                    <h6 class="sub-title">Restaurant</h6>
                    <h2 class="section-title"><span>Visit our restaurant</span> to eat fresh food</h2>
                    <article>
                        <p class="strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </article>
                    <a href="about-us.html" class="btn btn--default btn--regular">read more<i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--padding">
        <div class="container">
            <h6 class="sub-title">Restaurant</h6>
            <h2 class="section-title"><span>Explore our menu</span> and eat what you want</h2>
            <div class="row row--wrapped">
                <div class="col-lg-6">
                    <div class="item item--type1">
                        <div class="item__img">
                            <img src="/media/item01.jpg" alt="restaurant">
                        </div>
                        <div class="item__dis">
                            <h6 class="sub-title">Food</h6>
                            <h2 class="primary-title">Fresh fish and onions</h2>
                            <p>Fresh food directly from our restaurant ready coocked for you and you family</p>
                        </div>
                        <div class="item__link">
                            <a href="#" class="btn btn--squared btn--default">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item item--type1">
                        <div class="item__img">
                            <img src="/media/item02.jpg" alt="restaurant">
                        </div>
                        <div class="item__dis">
                            <h6 class="sub-title">Food</h6>
                            <h2 class="primary-title">Fresh fish and onions</h2>
                            <p>Fresh food directly from our restaurant ready coocked for you and you family</p>
                        </div>
                        <div class="item__link">
                            <a href="#" class="btn btn--squared btn--default">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item item--type1">
                        <div class="item__img">
                            <img src="/media/item02.jpg" alt="restaurant">
                        </div>
                        <div class="item__dis">
                            <h6 class="sub-title">Food</h6>
                            <h2 class="primary-title">Fresh fish and onions</h2>
                            <p>Fresh food directly from our restaurant ready coocked for you and you family</p>
                        </div>
                        <div class="item__link">
                            <a href="#" class="btn btn--squared btn--default">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item item--type1">
                        <div class="item__img">
                            <img src="/media/item01.jpg" alt="restaurant">
                        </div>
                        <div class="item__dis">
                            <h6 class="sub-title">Food</h6>
                            <h2 class="primary-title">Fresh fish and onions</h2>
                            <p>Fresh food directly from our restaurant ready coocked for you and you family</p>
                        </div>
                        <div class="item__link">
                            <a href="#" class="btn btn--squared btn--default">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--padding">
        <div class="container">
            <h6 class="sub-title">Restaurant</h6>
            <h2 class="section-title"><span>Explore our menu</span> and eat what you want</h2>
            <div class="row row--wrapped api-tr">
                <!--
                                <div class="col-lg-6">
                                    <div class="item item&#45;&#45;type1">
                                        <div class="item__img">
                                            <img src="media/item01.jpg" alt="restaurant">
                                        </div>
                                        <div class="item__dis">
                                            <h6 class="sub-title item__name">Food</h6>
                                            <h2 class="primary-title item__email">Fresh fish and onions</h2>
                                            <p class="item__body">Fresh food directly from our restaurant ready coocked for you and you family</p>
                                        </div>
                                        <div class="item__link">
                                            <a href="#" class="btn btn&#45;&#45;squared btn&#45;&#45;default">
                                                <i class="fas fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                -->
                <!-- Pagination Expected Here -->
            </div>
            <ul class="my-pagination">
                <!--                    <li class="page-item"><button value="1" class="btn btn&#45;&#45;default">1</button></li>-->
            </ul>
        </div>
    </section>
    <section class="section section--padding section--grayBG">
        <div class="container">
            <form action="" class="form form--room">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form__el">
                            <div class="form__label">
                                <label for="input01" class="sub-title">check in date</label>
                            </div>
                            <input type="text" class="input" name="datePicker" id="input01"
                                   placeholder="chick in date">
                            <div class="invalid-tooltip">Please pick a check in date.</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form__el">
                            <div class="form__label">
                                <label for="input02" class="sub-title">check out date</label>
                            </div>
                            <input type="text" class="input" name="datePicker" id="input02"
                                   placeholder="chick out date">
                            <div class="invalid-tooltip">Please pick a check out date.</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form__el">
                            <div class="form__label">
                                <label for="input03" class="sub-title">rooms</label>
                            </div>
                            <input type="text" class="input" id="input03" placeholder="rooms">
                            <div class="invalid-tooltip">please enter the number of rooms.</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form__el form__btn">
                            <button type="button" class="btn btn--default btn--regular">
                                submit <i class="far fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>


<!-- Footer -->
<footer class="footer">
    <%- include('./partials/footer_top.ejs') %>

    <%- include('./partials/footer.ejs') %>
</footer>
<!-- End of Footer -->

<%- include('./partials/init_scripts.ejs') %>

</body>
</html>